<html>
<body>
<head> <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />

<span class="message">
  <span class="body-content">
    <span class="navbar">
      <span class="navbar-item">

<h2>Levensverwachting</h2>


<form>
    <label for="length">Lengte in cm</label><br>
    <input type="number" id="length" name="length" value=""><br><br>
    <label for="mass">Gewicht in kg</label><br>
    <input type="number" id="mass" name="mass" value=""><br><br>
    <label for="exercise">Uren beweging per dag</label><br>
    <input type="number" id="exercise" name="exercise" value=""><br><br>
    <label for="smoking">Sigaretten per dag</label><br>
    <input type="number" id="smoking" name="smoking" value=""><br><br>
    <label for="alcohol">Glazen alcohol per dag</label><br>
    <input type="number" id="alcohol" name="alcohol" value=""><br><br>
    <label for="sugar"></label>Suikerklontjes per dag<br>
    <input type="number" id="sugar" name="sugar" value=""><br>
    <br><br>
    
    
    <input type="submit" value="Bereken">

</span></span></span></span>
</head>
</form>
</body>

  